{% load static %}
<header>
    <div class="navbar">
        <div class="logo">
            <a href="/">
                <img src="{% static 'img/logo.png' %}" alt="Logo">
            </a>
        </div>
        <div class="nav-links">
            <a href="/">Home</a>
            <a href="/users/">Users</a>
            <a href="/login/">Login</a>
            <a href="/logout/">Logout</a>
            <a href="/create_account/">Create Account</a>
        </div>
    </div>
</header>
